# Gradle
# ------
.gradle
/build/
*/**/build/
/buildSrc/build
/buildSrc/subprojects/*/build
/subprojects/*/build
/subprojects/docs/src/samples/**/build
/subprojects/internal-android-performance-testing/build-android-libs

*/**/test-output/

# IDEA
# ----
.idea
!/.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/runConfigurations
*/**/.idea
.shelf
*/**/*.iml
*/**/*.ipr
*/**/*.iws
/*.iml
/*.ipr
/*.iws
/out
/subprojects/*/*.iml
/subprojects/*/out
/.teamcity/*.iml
/.teamcity/target
!/.teamcity/Gradle_Check_dsl.iml
